/* Codecademy Review */

/* Dear Codecademy Crew, i would be really glad if you could give me an honest opinion about my code, 
what i could have done better and if there are better ways to implement responsive images, a mobile menu and how i could have used
flex shrink or flex grow to optimize my responsive web page. I think it's not best practice to build everything twice so i would be 
glad what's best practice, 'cause i really wanna work as a frontend developer soon.*/

/* Thank you guys! */


html {
	font-family: Open Sans;
	font-size: 16px;
}

h1 {
	font-size: 3rem;
	font-weight: 900;
}

h2 {
	font-size: 2rem;
	font-weight: 900;
	padding-top: 2rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.2;
}

p {
	font-size: 0.8rem;
	font-weight: 200;
	line-height: 1.5;
	color: darkgrey;
	padding: 0.5rem 0;
}

span {
	font-size: 0.6rem;
	font-weight: 200;
	line-height: 1.5;
	color: darkgrey;
}
/*Navigation*/

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	margin-right: 24px;
}

.logo {
	display: inline-flex;
	align-items: center;
}

.logo img {
	margin-left: 24px;
	max-height: 32px;
}

.navigation li {
	display: inline-flex;
	margin-left: 16px;
	font-size: 0.75rem;
}

/*Mobile Navigation*/

.mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
	margin: 0;
}

.images {
	display: flex;
	flex-grow: 3;
	justify-content: space-between;
}

.images img {
	padding: 0 2rem;
}


/*Media Query Navigation*/

@media only screen and (max-width: 560px) {
	nav {
		display: none;
	}
}
 
@media only screen and (min-width: 560px) {
	.mobile {
		display: none;
	}
}

/*Banner*/

.banner {
	background-color: #f5f5f5;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.banner-image {
	width: 60%;
}
.banner img {
	width: 100%;
	margin: 1.5rem;
}

.information {
	margin-left: 3rem;
	display: flex;
	flex-direction: column;
}

.information h3 {
	padding: 1rem 0 6rem 0;
}

.information .button {
	display: inline-flex;
	background-color: black;
	color: white;
	padding: 0.75rem;
	border: 1px solid black;
	transition: all 0.2s ease-in;
}

.information .button:hover {
	color: black;
	background-color: #f5f5f5;
	border: 1px solid black;
}

/*Media Query Banner*/

@media only screen and (max-width: 560px) {
	.banner {
		display: block;
	}

	.banner img {
		width: 100%;
		margin: 0;
		margin-bottom: 1rem;
	}

	.banner-image {
		width: 100%;
	}

	.information {
		margin-left: 2rem;
		margin-right: 2rem;
		display: flex;
		flex-direction: column;
	}

	.information h3 {
		padding: 1rem 0 2rem 0;
	}

	.information .button {
		margin-bottom: 2rem;
	}
}

/*Information Section*/

.main-information {
	display: flex;
}

.big-teaser {
	max-width: 60%;
	margin: 1.5rem;
}

.big-teaser img {
	width: 100%;
}

.big-teaser p{
	padding-top: 1.5rem;
}

.small-teaser {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 0.6rem;
}

.small-teaser img{
	width: 35%;
}

.first, .second, .third {
	display: flex;
	align-items: center;
	margin: 1rem;
	background-color: white;
	transition: color 0.2 ease-in;
}

.info-wrapper {
	display: inline-block;
	padding: 1rem;
	width: 100%;
}

.small-teaser a {
	font-size: 0.75rem;
	color: #6897bb;
}

.small-teaser p {
	padding: 0.5rem 0 0 0;
}

.first:hover, .second:hover, .third:hover {
	background-color: #f5f5f5;
}

/*Media Query Information Section*/

@media only screen and (min-width: 560px) {
	.main-information-mobile {
		display: none;
	}
}
@media only screen and (max-width: 560px) {
	.main-information {
		display: none;
	}

	.big-teaser {
		display: none;
	}

	.small-teaser {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 2rem;
	}

	.small-teaser img {
		width: 100%;
		height: auto;
	}

	.first, .second, .third {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 1rem;
		background-color: #f5f5f5;
	}

	.info-wrapper {
		display: block;
		width: 90%;
		padding: 1rem;
	}

	.small-teaser a {
		font-size: 0.75rem;
		color: #6897bb;
	}

	.small-teaser p {
		padding: 0.5rem 0 0 0;
	}
}
	

/*Courses*/

.headline {
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
}

.courses {
	display: flex;
	background-color: #f5f5f5;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 7rem;
}

.courses-teaser {
	width: 30%;
}

.courses-teaser img{
	width: 100%;
	height: auto;
}
.course-information {
	position: relative;
	top: -2px;
	background-color: white;
	padding: 1rem;
}

.course-information h3 {
	padding-bottom: 0.5rem;
}

/*Media Query Courses*/

@media only screen and (max-width: 560px) {
	.headline {
	background-color: #f5f5f5;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0;
	margin-top: 2rem;
	}

	.courses {
		display: none;
	}

	.courses-mobile {
		background-color: #f5f5f5;
		padding: 1rem 1rem 4rem 1rem;
	}

	.mobile-introduction {
		background-color: #DCDCDC;
		padding: 1rem;
		margin: 0.5rem;
	}
}

@media only screen and (min-width: 560px) {
	.courses-mobile {
		display: none;
	}
}


/* Video Section */

.main-information-video {
	display: flex;
}
 
.headline-video {
	text-align: center;
	padding: 2rem 0;
}

.video {
	width: 60%;
	margin: 1.5rem;
}

.video video {
	width: 100%;
}

.video p{
	padding-top: 1.5rem;
}

.small-teaser-video {
	display: flex;
	flex-direction: column;
	width: 40%;
	margin-top: 0.6rem;
}

.small-teaser-video img {
	width: 35%;
}

/* Media Query Video Section */

@media only screen and (max-width: 560px) {
		.video {
		width: 100%;
		margin-top: 1.5rem;
	}

	.small-teaser-video {
		display: none;
	}
}

/* Footer */

footer {
	display: flex;
	justify-content: space-between;
	background-color: #f5f5f5;
	margin-top: 1.5rem;
	padding: 3rem 1.5rem 3rem 1.5rem;
}

.footer-informations li{
	display: inline-flex;
	margin-left: 16px;
}

footer li {
	font-size: 0.6rem;
	font-weight: 200;
	line-height: 1.5;
	color: darkgrey;
}